<ul>
  <li class="{% if page.overview %}current{% endif %}">
    <a href="{{ "/" | prepend: site.baseurl }}">Home</a>
  </li>
  <li class="{% if page.url contains '/basic/' %}current{% endif %}">
    <a href="{{ "/basic/" | prepend: site.baseurl }}">Basic</a>
  </li>
  <li class="{% if page.url contains '/advanced/' %}current{% endif %}">
    <a href="{{ "/advanced/" | prepend: site.baseurl }}">Advanced</a>
  </li>
  <li class="{% if page.url contains '/specific/' %}current{% endif %}">
    <a href="{{ "/specific/" | prepend: site.baseurl }}">Specific</a>
  </li>
  <li class="{% if page.url contains '/about/' %}current{% endif %}">
    <a href="{{ "/about/" | prepend: site.baseurl }}">About...</a>
  </li>
<!--
  <li class="{% if page.url contains '/docs/' %}current{% endif %}">
    <a href="/docs/home/">Doc<span class="show-on-mobiles">s</span><span class="hide-on-mobiles">umentation</span></a>
  </li>
  <li>
    <a href="{{ site.repository }}"><span class="hide-on-mobiles">View on </span>GitHub</a>
  </li>
-->
</ul>
