<ul>
  <li class="{% if page.overview %}current{% endif %}">
    <a href="/">Home</a>
  </li>
  <li class="{% if page.url contains '/basic/' %}current{% endif %}">
    <a href="/basic/">Basic</a>
  </li>
  <li class="{% if page.url contains '/advanced/' %}current{% endif %}">
    <a href="/advanced/">Advanced</a>
  </li>
  <li class="{% if page.url contains '/specific/' %}current{% endif %}">
    <a href="/specific/">Specific</a>
  </li>
  <li class="{% if page.url contains '/about/' %}current{% endif %}">
    <a href="/about/">About...</a>
  </li>
<!--
  <li class="{% if page.url contains '/docs/' %}current{% endif %}">
    <a href="/docs/home/">Doc<span class="show-on-mobiles">s</span><span class="hide-on-mobiles">umentation</span></a>
  </li>
  <li>
    <a href="{{ site.repository }}"><span class="hide-on-mobiles">View on </span>GitHub</a>
  </li>
-->
</ul>
